
#logo
{
	margin-top:5%;
	margin-left:28px;
	width:5%;
	height:77%;
}

#logo1 {
    margin-top:76%;
    margin-left:28px;
    width:50px;
    height:50px;
}

.remove_field_pre1 {
	margin-left:70%; 
	margin-top:-3%;
	position:absolute;
}

.remove_field_present{
	margin-left:70%; 
	margin-top:-3%;
	position:absolute;
}

/*avatar profile upload btn*/

 .upload-button {
    padding: 4px;
    border: 1px solid black;
    border-radius: 5px;
    display: block;
    float: left;
    position:absolute;
    z-index:2;
    margin-left:77%;
    cursor:pointer;
    margin-top:10%;
}

.profile-pic {
    max-width:100px;
    max-height:100px;
    display: block;
    margin-left:77%;
    position:absolute;
    z-index:2;
}

.file-upload1 {
    display: none;
}
.alert {
    padding: 20px;
    background-color: #f44336;
    color: white;
    /*position: relative;*/
}

.closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}

.control-label.name {
    margin-left:223%;
}

.control-label.designation{
    margin-left:181%;
}

.closebtn:hover {
    color: black;
}

/*add new partner*/
.add_field_button.btn.partner_btn{
	margin-left:235%;
}

/*view btn*/
a.btn.btn-info{
	color:white;
	background-color:#176fac;
	margin-top:0%;
	margin-left:40%;
}
/*attach btn*/
div.fileUpload.btn.btn-info{
	margin-left:0%;
	padding:0.5em;
	margin-top:0%;
}

/*notification bar css*/
 span:before{
    content:" "; 
    display:inline-block; 
    width:32px;
    }

    .alert {
    padding: 20px;
    background-color: #f44336;
    color: white;
    }

  .closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
    }

    .closebtn:hover {
    color: black;
    }
    .mdl-radio {
    position: relative;
    font-size: 14px;
    line-height: 24px;
    display: inline-block;
    box-sizing: border-box;
    font-weight: 500;
    margin: 0;
    padding-left: 0;
}

/*add new partner js*/
.partner_name{
	margin-top:-20%;
	margin-left:290%;
	width: 322%;
}
.btn.btn-info.new_entry_btn.entry{
	margin-left:1240%;
	position:absolute;
	margin-top: -41px;

}

.form-group.designation{
	margin-left:175%;
}

.control-label.type{
    margin-left:-73%;
}
.col-md-4.control-label.status
{
    margin-left:-29%;
}

/*adding extra field*/
.add_field.btn {
	margin-left: 443px;
}

.form-control.status{
    width:210%;
    margin-left:-1%;
}
.col-2.col-form-label.date{
    margin-left:-8.5%;
}


@media screen and (max-width:1024px) {

	.add_field_button.btn.partner_btn{
	margin-left:244%;
}
.col-2.col-form-label.date{
    margin-left:-8.5%;
}
.control-label.type{
    margin-left:-78%;
}
.col-md-4.control-label.status
{
    margin-left:-29%;
}
.form-control.status{
    width:210%;
    margin-left:-1%;
}

/*adding extra field*/
.add_field.btn {
	margin-left: 52%;
}
 
/* add new partner the css for the class which is inside the js*/
.control-label.name{
		margin-left:212%;
}

.control-label.designation{
	margin-left:159%;
}
.partner_name {
    margin-top: -35%;
    margin-left: 283%;
    width: 318%;
}
.btn.btn-info.new_entry_btn.entry {
    margin-left: 1203%;
    position: absolute;
    margin-top: -33px;
}

#logo
{
	margin-top:5%;
	margin-left:28px;
	width:5%;
	height:77%;
}

#logo1 {
    margin-top:76%;
    margin-left:28px;
    width:50px;
    height:50px;
}

.remove_field_pre1 {
	margin-left:70%; 
	margin-top:-4%;
	position:absolute;
}

.remove_field_present{
	margin-left:70%; 
	margin-top:-3%;
	position:absolute;
}

/*avatar profile upload btn*/

 .upload-button {
    padding: 4px;
    border: 1px solid black;
    border-radius: 5px;
    display: block;
    float: left;
    position:absolute;
    z-index:2;
    margin-left:77%;
    cursor:pointer;
    margin-top:10%;
}

.profile-pic {
    max-width:100px;
    max-height:100px;
    display: block;
    margin-left:77%;
    position:absolute;
    z-index:2;
}

.file-upload1 {
    display: none;
}
.alert {
    padding: 20px;
    background-color: #f44336;
    color: white;
    /*position: relative;*/
}

.closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}

.closebtn:hover {
    color: black;
}


/*view btn*/
a.btn.btn-info{
	color:white;
	background-color:#176fac;
	margin-top:0%;
	margin-left:40%;
}
/*attach btn*/
div.fileUpload.btn.btn-info{
	margin-left:0%;
	padding:0.5em;
	margin-top:0%;
}

/*notification bar css*/
 span:before{
    content:" "; 
    display:inline-block; 
    width:32px;
    }

    .alert {
    padding: 20px;
    background-color: #f44336;
    color: white;
    }

  .closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
    }

    .closebtn:hover {
    color: black;
    }
    .mdl-radio {
    position: relative;
    font-size: 14px;
    line-height: 24px;
    display: inline-block;
    box-sizing: border-box;
    font-weight: 500;
    margin: 0;
    padding-left: 0;
}

/*add new partner js*/

input#partner_names[].form-control.input-md.newentry.partner_names{
	margin-top:-20%;
	margin-left:290%;
	width: 322%;
}

}

